<div class="container">
    <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero delectus aspernatur quisquam cumque veniam minus commodi officia iure magnam adipisci nam consequuntur tempora, ipsa temporibus. Error dolorem laboriosam necessitatibus.
        Facilis quam dolorem neque provident in libero enim ipsam nihil accusamus rem. Quod praesentium ex eveniet eos nulla commodi beatae assumenda, labore neque at quo ratione unde aliquid iste voluptate.
        Nostrum distinctio at nam voluptate. Illo accusamus ab repellendus maiores? At possimus voluptates repellat libero nulla exercitationem magnam hic quibusdam necessitatibus quos sunt fugiat beatae, blanditiis esse laudantium suscipit ducimus?
        Voluptates architecto, reiciendis odio dolore ea laudantium accusamus dolores qui quidem enim impedit rem at tempora ipsa tenetur ratione! Repudiandae, aliquam pariatur architecto dolore hic quisquam ad vitae exercitationem distinctio.
        Blanditiis perferendis deserunt ea aspernatur, a reiciendis deleniti nulla quia sapiente atque illo repudiandae molestiae est eaque architecto ex quidem? Hic sunt blanditiis autem deserunt molestiae est minus, nisi voluptas?</p>
    </div>
</div>