.container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../../../Images/Bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.info {
  max-width: 600px;
  width: 100%;
  padding: 100px;
  color: white;

  @media screen and (max-width: 500px) {
    max-width: 90%;
  }

  bottom: -100%;
  opacity:0;
  animation: smooth-appear 2s ease forwards;
}

@keyframes smooth-appear {
  to {
    bottom: 50px;
    opacity: 1;
  }
}
