<div class="container">

    <div class="search-form">
        <form [formGroup]="searchProductForm">

            <mat-form-field appearance="outline" class="search-input">
                <mat-label>Enter keyword to search</mat-label>
                <input matInput formControlName="productName">
                <mat-icon matSuffix (click)="search()">search</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Select a category</mat-label>
                <mat-select formControlName="categoryName" name="categoryName">
                    <mat-option *ngFor="let category of listOfCategories" [value]="category.name">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button class='search-button' mat-button matSuffix color="primary" (click)="search()"
                [disabled]="searchProductForm.invalid">Search</button>

        </form>
    </div>

    <div class="search-info" *ngIf="numberItemReturn!=null">
        <div class="info">There are {{numberItemReturn}} products you might want to see</div>
        <button class='reset-button' mat-button matSuffix color="primary" (click)="reset()">Reset</button>
    </div>

    <div class="product-list">
        <mat-card class="product-card" *ngFor="let product of products">
            <div class="product-image">
                <img [src]="product.processedImg" alt="product-image">
            </div>
            <div class="product-detail">
                <h2 class="product-name">{{product.name}}</h2>
                <p class="product-description">{{product.description}}</p>

                <mat-divider></mat-divider>

                <div class="product-info">
                    <div class="info-row">
                        <span class="info-label">Price:</span>
                        <span class="info-value">{{product.price}}VNĐ</span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">Category:</span>
                        <span class="info-value">{{product.category_name}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>