<div class="container">
    <div class="search-form">
        <form [formGroup]="searchProductForm" (ngSubmit)="getProductsByName()">
            <mat-form-field appearance="outline">
                <mat-label>Enter keyword to search</mat-label>
                <button mat-button matPrefix color="primary" [disabled]="searchProductForm.invalid">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" matInput formControlName="productName" [matAutocomplete]="auto">
                <button mat-button matSuffix color="primary" [disabled]="searchProductForm.invalid" (click)="reset()">
                    <mat-icon>clear</mat-icon>
                </button>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let name of filteredProductNames | async" [value]="name">
                        {{name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="product-list">
        <mat-card class="product-card" *ngFor="let product of products">
            <div class="product-img">
                <img [src]="product.processedImg" alt="product-image">
            </div>
            <div class="product-info">
                <div class="title">{{product.name}}</div>
                <div class="description">{{product.description}}</div>

                <mat-divider></mat-divider>

                <div class="price_category">
                    <div class="price">
                        <span class="info-label">Price: </span>
                        <span class="info-value">{{product.price}}</span>
                    </div>
                    <div class="category">
                        <span class="info-label">Category: </span>
                        <span class="info-value">{{product.category_name}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>