.contact {
    display: flex;
    align-items: center;
    background-color: #008ce3;
    height: auto;
    position: fixed;
    bottom: 0;

    p {
        font-size: 15px;
        color: white;
        margin-right: 20px;
        margin-bottom: 0;

        a {
            font-size: 15px;
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.header {
    width: 100%;

    .navbar {
        display: flex;
        align-items: center;
        padding: 0 16px;
        background-color: #008ce3;
        height: 40px;

        .navbar-brand {
            font-size: 30px;
            font-weight: 500;
            margin-right: 16px;
            color: white;
        }

        button:hover {
            background-color: #001ee3;
        }
    }

}

.spacer {
    flex: 1;
}

button {
    color: white !important;
    text-transform: uppercase;
    margin-left: 8px;
}