.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; // counting from top
    background-image: url(../Bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-image: linear-gradient(#00c9e3, #00d1cb);
}

mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }
    box-shadow: 20px 20px 50px #00c9e3;
    bottom: -100%;
    opacity:0;
    animation: smooth-appear 1s ease forwards;
}

@keyframes smooth-appear {
    to {
        bottom: 50px;
        opacity: 1;
    }
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
}

@media screen and (max-width: 500px) { 
    mat-card-title {
        font-size: 20px;
    }

    mat-form-field {
        margin-bottom: 10px;
    }
}

.error-snackbar {
    background-color: #f44336 !important;
}